@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #edf2f5;
    font-size: 16px;
    color: #5f727f;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}
ol, ul {
    padding-left: 0;
}

textarea:focus,
input:focus {
    outline: none;
}

.title-text {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
}
.title-text-mid{
    font-size: 36px;
    line-height: 48px;
    text-transform: uppercase;
    font-weight: 700;
}
.title-text-mini{
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
}
.title-text-sm{
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

/* for every page bannarer section style start  */

.default-banner-section .title{
  padding: 120px 0;
  color: #fff;
}
.default-banner-section p{
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 500;
}
.default-banner-section  i{
padding: 0 10px;
}
.default-banner-section p span:nth-last-child(-n + 1){
  color: #9fcfff;
  padding: 10px 0;
  border-bottom: 2px solid #9fcfff;
}

/* for every page bannarer section style end  */

/* button section start */

.large-btn {
    text-align: center;
}

.large-btn a {
    text-transform: uppercase;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    background-color: #f55060;
    color: #fff;
    transition: all 0.4s;
}
.large-btn a:hover{
    background-color: #df273a;
}

/* button section end  */



/* Time line css style start */
.timeline-area{
    /* background-color: #a3cbe4; */
    position: relative;
}
.timeline-content{
    text-transform: uppercase;
    padding:0 40px 20px 40px;
    margin-bottom: 20px;
    position: relative;
    background-color: inherit;
    width: 60%;
}
.timeline-text{
    margin-left: 70px;
    color: #42a6e8;
}
.timeline-text h3{
    margin-bottom: 2px;
    font-size: 20px;
}
.timeline-text h1{
    font-size: 28px;
}
.timeline-text p{
    text-transform: capitalize;
    color: #bfd0db;
}
.t-lable{
    position: absolute;
    left: 15px;
    top: 15px;
    background-color: #f55060;
    color: #fff;
    width: 60px;
    height: 60px;
    outline: 2px solid #37607b;
    outline-offset: 0px;
    text-align: center;
    transform: rotate(45deg);
    z-index: 10;
}
.t-lable h4{
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 60px;
    transform: rotate(-45deg);
}
.timeline-area::after{
    content: "";
    position: absolute;
    top: 10px;
    left: 44px;
    width: 2px;
    height: 80%;
    background-color: #37607b;
    z-index: 4;
}
/* Time line css style end */

/* footer section  */
.footer-section{
    padding:  0 0 50px 0;
    /* height: 1400px; */
  }
  .footer-content{
    padding: 150px 0 0 0;
    text-align: center;
  }
  .footer-content .footer-top{
    padding: 0 0 90px 0;
  }
  .footer-content .footer-top img{
    margin-bottom: 20px;
  }
  .footer-content .footer-top p{
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
    font-weight: 400;
    padding: 0 25%;
    margin-bottom: 0;
  }
  
  .footer-section .footer-help-area{
    padding: 0 0 90px 0;
    text-transform: uppercase;
    color: #1585ca;
  }
  .footer-section .footer-help-area p{
    font-weight: 500;
    margin-bottom: 10px;
  }
  .footer-section .footer-form-area{
    margin-bottom: 100px;
  }
  .footer-section .footer-form-area input{
    width: 100%;
    padding: 10px 20px;
    padding-right: 40px;
    border: 1px solid #26526f;
    border-radius: 0;
    background-color: #032a45;
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 16px;
  }
  .footer-section .footer-form-area textarea{
    background-color: #032a45;
    color: #ffffff;
    border: 1px solid #26526f;
    border-radius: 0;
    width: 100%;
    margin-bottom: 50px;
    padding: 15px 5px 15px 15px;
    font-weight: 500;
  }
  .input-area{
    position: relative;
  }
  .input-area img{
    position: absolute;
    right: 10px;
    top: 14px;
    max-width: 20px;
    max-height: 16px;
  }
  .input-area input::placeholder{
    color: #ddd;
  }
  .Message-area textarea::placeholder{
    color: #ddd;
  }
  .footer-form-area .large-btn a{
    display: inline-block;
  }
  .footer-section .location{
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
  }
  .footer-section .location img{
    margin-bottom: 40px;
  }
  .footer-section .location p{
    margin-bottom: 10px;
  }
  .footer-section .location span{
    color: #40b7ff;
  }
  
  
  /* map section 
   */
  
   .map-section{
    height: 340px;
   }
  
   /* Base section start */
  
   .base-section{
    background-color: #00243d;
    color: #8fa0ad;
    padding: 30px 0  0;
    font-size: 13px;
   }
  .base-section ul{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  .base-section a{
    color: #8a98a1;
  }
  .base-section .social-icons{
    background-color: red !important;
  }
  .base-section .social-icons img{
    float: right;
    margin-bottom: 20px;
  }
  
   /* Base section end */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .timeline-area::after{
        height: 75%;
    }

}

@media only screen and (max-width:767px) {
    .timeline-area::after{
        height: 70%;
    }
    .timeline-content{
        padding:0 0 20px 40px;
        margin-bottom: 20px;
        width: 100%;
    }

    .timeline-text{
        margin-left: 65px;
        color: #42a6e8;
    }
    .timeline-text h3{
        margin-bottom: 2px;
        font-size: 14px;
    }
    .timeline-text h1{
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
    }
    .timeline-text p{
        text-align: justify;
        font-size: 12px;
    }
    .t-lable{
        position: absolute;
        left: 15px;
        top: 15px;
        background-color: #f55060;
        color: #fff;
        width: 60px;
        height: 60px;
        outline: 2px solid #37607b;
        outline-offset: 0px;
        text-align: center;
        transform: rotate(45deg);
        z-index: 10;
    }
    .t-lable h4{
        font-size: 32px;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 60px;
        transform: rotate(-45deg);
    }
}

@media only screen and (max-width:319px) {
    .timeline-area{
        display: none;
    }
}