@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #edf2f5;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

textarea:focus,
input:focus {
    outline: none;
}

.title-text {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
}


/* button section start */

.large-btn {
    text-align: center;
}

.large-btn a {
    text-transform: uppercase;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    background-color: #f55060;
    color: #fff;
}

/* button section end  */



/* Time line css style start */
.timeline-area{
    /* background-color: #a3cbe4; */
    position: relative;
}
.timeline-content{
    text-transform: uppercase;
    padding:0 40px 20px 40px;
    margin-bottom: 20px;
    position: relative;
    background-color: inherit;
    width: 60%;
}
.timeline-text{
    margin-left: 70px;
    color: #42a6e8;
}
.timeline-text h3{
    margin-bottom: 2px;
    font-size: 20px;
}
.timeline-text h1{
    font-size: 28px;
}
.timeline-text p{
    text-transform: capitalize;
    color: #bfd0db;
}
.t-lable{
    position: absolute;
    left: 15px;
    top: 15px;
    background-color: #f55060;
    color: #fff;
    width: 60px;
    height: 60px;
    outline: 2px solid #37607b;
    outline-offset: 0px;
    text-align: center;
    transform: rotate(45deg);
    z-index: 10;
}
.t-lable h4{
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 60px;
    transform: rotate(-45deg);
}
.timeline-area::after{
    content: "";
    position: absolute;
    top: 10px;
    left: 44px;
    width: 2px;
    height: 80%;
    background-color: #37607b;
    z-index: 4;
}
/* Time line css style end */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .timeline-area::after{
        height: 75%;
    }

}

@media only screen and (max-width:767px) {
    .timeline-area::after{
        height: 70%;
    }
    .timeline-content{
        padding:0 0 20px 40px;
        margin-bottom: 20px;
        width: 100%;
    }

    .timeline-text{
        margin-left: 65px;
        color: #42a6e8;
    }
    .timeline-text h3{
        margin-bottom: 2px;
        font-size: 14px;
    }
    .timeline-text h1{
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
    }
    .timeline-text p{
        text-align: justify;
        font-size: 12px;
    }
    .t-lable{
        position: absolute;
        left: 15px;
        top: 15px;
        background-color: #f55060;
        color: #fff;
        width: 60px;
        height: 60px;
        outline: 2px solid #37607b;
        outline-offset: 0px;
        text-align: center;
        transform: rotate(45deg);
        z-index: 10;
    }
    .t-lable h4{
        font-size: 32px;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 60px;
        transform: rotate(-45deg);
    }
}

@media only screen and (max-width:319px) {
    .timeline-area{
        display: none;
    }
}