/************IPad**************/
@media only screen and (min-width: 992px) and (max-width: 1200px) {


    body {
        background-color: rgb(3, 78, 13);
        font-size: 14px;
        line-height: 20px;
    }

    .top-section .social-icon {
        display: none;
    }

    .mobilemenu {
        display: none;
    }

    .menu-bar {
        display: block;
    }

    .nav-section .logo {
        padding: 15px 0;
    }

    /*============================================================
        Start Home screen 
    ============================================================ */

    /* banner section start */
    .banner-section {
        height: 730px;
    }

    .banner-text {
        padding: 55px 0 25px 0;
        /* border: 1px solid red; */
    }

    .banner-text .title-extralarge {
        line-height: 60px;
        word-spacing: 3%;
        padding: 0 50% 0 0;
        margin-bottom: 10px;
    }

    .banner-text h6 {
        margin-bottom: 15px;
    }

    .banner-text h4 {
        font-size: 26px;
        line-height: 36px;
    }

    /* banner section end  */
    /* Apoinment and hour section start */
    .apoinment-hour-section {
        margin-top: -310px;
    }

    .card-lg {
        padding: 30px 35px 0 35px;
    }

    .card-lg .title-small {
        font-size: 16px;
        line-height: 26px;
    }

    .card-lg .title-large {
        font-size: 26px;
        margin-bottom: 15px;
        line-height: 36px;
    }

    .card-content {
        background-color: #ffffff;
        padding: 30px 30px 20px 30px;
    }

    .card-form input,
    select,
    textarea {
        background-color: #f6fbff;
        padding: 10px 15px;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .card-form textarea {
        height: 250px;
    }

    .card-form .large-btn {
        margin-top: 0;
    }

    /* blue card  */
    .card-blue .card-content {
        padding-top: 20px;
    }

    .card-blue .list-data ul {
        margin-bottom: 20px;
    }

    .date-time p {
        margin-bottom: 4px;
    }

    .b-line {
        border-bottom: 1px solid #d5dade;
        margin-bottom: 10px;
    }

    /* Apoinment and hour section end */

    /* about section start  */
    .about-section {
        padding: 30px 0 40px 0;
    }

    .about-section .title {
        padding: 0px;
    }

    .about-section .title p {
        padding: 0 45px 0 0;
    }

    /* about section end  */

    /* service section start */
    .service-section {
        margin-bottom: 0;
    }

    /* box for tritment  */
    .box .box-content {
        padding: 20px 10px 30px 30px;
    }

    .box-title {
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 10px;
    }

    .box .box-content .large-btn {
        margin-top: 30px;
    }

    /* box for success count  */
    .box .count .calender {
        margin-bottom: 10px;
    }

    .count .medium-number {
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 10px;
    }


    /* service section end */
    /* what we do section start */
    .timeline-section {
        height: 1200px;
        padding: 50px 0 15px 0;
    }

    .what-we-do-section .title {
        margin-bottom: 70px;
    }



    /* what we do section end */

    /* Special Offers section start */
    .special-offer {
        padding: 150px 0 0 0;
    }

    .special-offer .title {
        color: #ffffff;
        margin-bottom: 110px;
    }

    .special-offer .title p {
        padding: 0;
    }

    .price-card .price-card-title {
        padding: 90px 0 30px 0;
    }

    .price-card .price-card-content li:nth-child(odd) {
        padding: 15px 0;
    }

    .price-card .price-card-content li:nth-child(even) {
        padding: 15px 0;
    }



    /* end::our special offer  */


    /* our patient say obout us section start */
    .our-experienced-doctors {
        padding: 55px 0 0 0;
    }

    .our-experienced-doctors .title p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .our-experienced-doctors .text-title {
        font-size: 22px;
    }

    .our-experienced-doctors p {
        margin-bottom: 25px;
    }

    /* our patient say obout us section end */

    /* blog-section start  */
    .blog-bg {
        height: 500px;
    }

    .blog-section .title {
        padding: 60px 0 0 0;
    }

    .blog-section .title p {
        padding: 0;
    }

    /* card-area  */
    .card-area {
        margin-top: -200px;
    }

    .blog-card .card-top {
        padding: 15px 15px 5px 15px;
    }

    .blog-card .card-text {
        padding: 0 15px 0px;
    }

    .blog-card .card-text .title-medium {
        font-size: 18px;
    }

    .blog-card .card-text .title-medium span {
        font-weight: 700;
    }

    .blog-card .blog-btn a {
        padding: 10px 80px;

    }

    .blog-card .blog-btn a:hover {
        background-color: #076bae;
    }

    .card-area .large-btn a {
        margin: 0 0 50px 0;
        display: inline-block;
    }

    /* blog-section start  */

    /* base section start  */
    .base-section {
        display: flex;
        justify-content: space-between;
    }

    /* base section end  */
    /*============================================================
        END ::  Home screen Design
    ============================================================ */


    /* ==========================================================================
   *******    START :: DEFAULT PAGES DESIGN      ************
   ========================================================================== */
    /* start::services page  */
    .page-banner-section .banner-content .title-extralarge {
        padding: 130px 0 90px 0;
    }

    .services-card .card-content {
        padding: 20px 5px 20px;
    }

    .services-card .card-content h1 {
        padding: 0;
        font-size: 16px;
    }

    .card-content .time_and_desiges {
        font-size: 10px;
    }

    /* end::services page  */

    /* ==========================================================================
   *******    END :: DEFAULT PAGES DESIGN      ************
   ========================================================================== */
}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    body {
        background-color: brown !important;
        font-size: 12px;
        line-height: 22px;
    }

    .top-section .content .contact {
        display: none;
    }

    .nav-section {
        padding: 15px 0;
    }

    .mobilemenu {
        display: block;
    }

    .menu-bar {
        display: none;
    }

    .nav-section .logo {
        padding: 0;
    }

    .slicknav_menu .slicknav_menutxt {
        display: none;
    }

    .slicknav_menu .slicknav_icon {
        position: absolute;
        right: 10px;
        top: 0px;
    }

    .slicknav_menu {
        background: none;
        padding: 0;
    }

    .slicknav_btn {
        position: relative;
        background-color: transparent;
        margin: 0;
    }

    .slicknav_nav {
        background-color: #03263e;
        position: absolute;
        right: 115px;
        top: 100%;
        width: 40%;
    }

    .slicknav_nav p {
        padding: 10px 0 0 20px;
        text-align: left;
        margin-bottom: 8px;
    }


    .dropdown-menu-custom .dropdown-menu {
        transform: translate3d(105px, 20px, 0px) !important;
    }

    .slicknav_nav a:hover {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        background: #033150;
        color: #ffffff;
    }

    .slicknav_nav a {
        padding: 2px 0;
        margin: 0;
    }

    .search {
        margin-top: 2px;
    }
    .fa-search{
        margin-top: 10px;
    }
    .overlay button {
        padding: 11.6px;
    }
    /*============================================================
        Start ::  Home screen 
    ============================================================ */

    /* banner section start */
    .banner-section {
        height: 600px;
        background-color: #0005;
        background-blend-mode: darken;
    }

    .banner-text {
        padding: 35px 0 45px 0;
        /* border: 1px solid red; */
    }

    .banner-text .title-extralarge {
        font-size: 40px;
        line-height: 50px;
    }

    .banner-text h6 {
        font-size: 16px;
        padding: 0 45% 0 0;
    }

    .banner-text h4 {
        padding: 0 35% 0 0;
        font-size: 22px;
        line-height: 32px;
    }

    /* banner section end  */

    /* Apoinment and hour section start */
    .apoinment-hour-section {
        margin-top: -310px;
    }

    .card-lg {
        height: 100%;
        margin: 0;
        padding: 30px 25px 0 25px;
        margin-bottom: 20px;
    }


    .card-lg .title-small {
        font-size: 16px;
        line-height: 26px;
    }

    .card-lg .title-large {
        font-size: 26px;
        margin-bottom: 15px;
        line-height: 36px;
    }

    .card-content {
        background-color: #ffffff;
        padding: 20px 20px 15px 20px;
    }

    .card-form input,
    select,
    textarea {
        background-color: #f6fbff;
        padding: 8px 10px;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .card-form textarea {
        height: 80px;
    }

    .card-form .large-btn {
        margin-top: 0;
    }

    /* blue card  */

    .card-blue .card-content {
        padding-top: 20px;
    }

    .card-blue .list-data ul {
        margin-bottom: 20px;
    }

    .date-time p {
        margin-bottom: 4px;
    }

    .b-line {
        border-bottom: 1px solid #d5dade;
        margin-bottom: 10px;
    }

    .large-btn a {
        font-size: 12px;
        font-weight: 700;
        line-height: 20px;
    }


    /* Apoinment and hour section end */

    /* about section start  */
    .about-section {
        background-color: #073757a6;
        background-blend-mode: darken;
        padding: 30px 0 40px 0;
    }

    .about-section .title {
        padding: 0px;
    }

    .about-section .title h1,
    .about-section .title h3,
    .about-section .title p {
        color: #fff;
    }


    .about-section .title p {
        text-align: justify;
        padding: 0 65px 0 0;
    }

    /* about section end  */

    /* our patient say obout us start */
    .about-section {
        padding: 30px 0;
    }

    /* Apoinment and hour section start */
    .apoinment-hour-section {
        margin-top: -240px;
    }


    .our-experienced-doctors .card-lg {
        margin: 0;
    }

    /* Apoinment and hour section end */

/* service section start */
.service-section {
    margin-bottom: 0;
}

/* box for tritment  */
.box .box-content {
    padding: 20px 10px 30px 30px;
}

.box-title {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 10px;
}

.box .box-content .large-btn {
    margin-top: 30px;
}

/* box for success count  */
.box .count .calender {
    margin-bottom: 10px;
}

.count .medium-number {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 10px;
}

.valuable-services {
    padding: 50px 20px 30px 20px;
    margin: 0 auto;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.valuable-services {
    padding:20px 12px;
}
.valuable-services .img-res{
width: 22px;
height: 22px;
}
.valuable-services .img-res img{
    width: 100%;
}

.valuable-services .title-small{
    font-size: 14px;
    line-height: 26px;
  }
  .valuable-services p{
    font-size: 10px;
    line-height: 20px;
  }

/* service section end */

    /*start ::  what we do best section  */
    .timeline-section {
        height: 1000px;
        padding: 50px 0 15px 0;
    }

    /* start::facality-skills  */
    .facality-skills {
        margin-top: -120px;
    }

    /* Accordian styel start  */
    .accordion-button {
        padding: 10px 0;
        border-radius: 0;
        font-size: 14px;
    }

    .accordion-body {
        color: #5f727f;
        padding: 0;
    }

    .accordion-button:not(.collapsed) {
        color: #f4616f;
        background-color: #fff;
        border-radius: 0;
    }

    /*end ::  what we do best section  */


    /* our patient say obout us section start */
    .say-about-us {
        padding: 30px 0;
    }

    .say-about-us .title-extralarge {
        margin-bottom: 20px;
    }

    .say-about-us .about-container {
        height: 320px;
    }

    .about-container p {
        font-size: 14px;
    }

    /* our patient say obout us section end */

    /* Special Offers section start */
    .special-offer {
        padding: 100px 0 0;
    }

    .special-offer .title {
        margin-bottom: 110px;
    }

    .special-offer .title-extralarge {
        margin-bottom: 20px;
    }

    .special-offer .title p {
        padding: 0;
    }

    .price-card .price {
        width: 110px;
        height: 110px;
    }

    .price-card .price span {
        font-size: 22px;
        line-height: 28px;
    }

    .price-card .price-card-title {
        padding: 80px 0 20px 0;
    }

    .price-card .price-card-title .text-sulg {
        font-size: 13px;
    }

    .price-card .price-card-title .price-card-title-lg {
        font-size: 18px;
    }

    .price-card .price-card-content li:nth-child(odd) {
        padding: 10px 0;
    }

    .price-card .price-card-content li:nth-child(even) {
        padding: 12px 0;
    }

    .price-card .price-card-btn {
        padding: 20px 0;
    }

    /* end::our special offer  */

    /* our-experienced-doctors section start */

    .our-experienced-doctors {
        padding: 35px 0;
    }

    .our-experienced-doctors .text-title {
        font-size: 28px;
    }

    .our-experienced-doctors .title .title-small {
        font-size: 14px;
        font-weight: 200;
        margin-bottom: 10px;
    }

    .our-experienced-doctors .team-person .card-lg {
        margin: 0 60px;
        padding: 20px 20px;
    }

    .our-experienced-doctors p {
        margin-bottom: 35px;
    }

    .doc-info {
        padding: 10px 0 0;
        text-align: center;
    }

    .doc-info h4 {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 0;
    }

    .doc-info span {
        font-size: 12px;
        line-height: 22px;
        margin-bottom: 5px;
    }

    .doc-info h3 {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 0;
    }

    /* our-experienced-doctors section end */

    /* blog-section start  */
    .blog-bg {
        height: 500px;
    }

    .blog-section .title {
        padding: 40px 0 0 0;
    }

    .blog-section .title p {
        padding: 0;
    }

    .blog-section .title .title-medium {
        font-size: 18px;
        line-height: 36px;
        margin-bottom: 10px;
    }

    .blog-section .title .title-extralarge {
        font-size: 36px;
        line-height: 46px;
        margin-bottom: 10px;
    }

    /* card-area  */
    .card-area {
        margin-top: -225px;
    }

    .blog-card .card-top {
        padding: 25px 25px 0;
    }

    .blog-card .card-text {
        padding: 0 25px 0px;
    }

    .blog-card .card-text .title-medium {
        font-size: 18px;
    }

    .blog-card .card-text .title-medium span {
        font-weight: 700;
    }

    .blog-card .blog-btn a {
        padding: 10px 80px;

    }

    .blog-card .blog-btn a:hover {
        background-color: #076bae;
    }

    .card-area .large-btn a {
        margin: 0 0 50px 0;
        display: inline-block;
    }

    /* blog-section start  */

    /* start:: home-contact-section  */
    .home-contact-section {
        padding: 110px 0 30px 0;
        text-align: center;
    }

    .home-contact-section .logo-text-block img {
        width: 250px;
    }

    .home-contact-section .logo-text-block p {
        font-size: 14px;
        line-height: 24px;
    }

    .home-contact-section .text-block {
        margin-bottom: 10px;
    }

    .home-contact-section .title-extralarge{
        font-size: 36px;
    }

    .contact-default {
        padding: 20px 0 30px;
    }


    /* end:: home-contact-section  */
    /* start::map section  */
    .map-section {
        height: 200px;
      }
    /* end::map section  */

    /* footer section start  */
    .base-section .social-icons {
        display: none;
    }

    /* footer section end  */

    /* ==========================================================================
   *******    START :: DEFAULT PAGES DESIGN      ************
   ========================================================================== */
    /* start::services page  */
    .page-banner-section{
        height: 200px;
    }
    .page-banner-section .banner-content .title-extralarge {
        font-size: 36px;
        line-height: 36px;
        padding: 80px 0 40px 0;
    }

    .services-card .card-content {
        padding: 20px 5px 20px;
    }

    .services-card .card-content h1 {
        padding: 0;
        font-size: 16px;
    }

    .card-content .time_and_desiges {
        font-size: 10px;
    }

    /* end::services page  */

    /* ==========================================================================
   *******    END :: DEFAULT PAGES DESIGN      ************
   ========================================================================== */



}

/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    body {
        background-color: rgb(41, 214, 177) !important;
        font-size: 10px;
        line-height: 20px;
    }

    /* Top section start  */
    .top-section {
        display: block;
    }
    .top-section .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .top-section .content .contact{
        display: none;
    }
    .top-section .content .top-small-menu{
        text-align: center;
        width: 100%;
    }
    .top-small-menu a {
        color: #99a9b5;
        margin-left: 0;
        font-size: 8px;
    }
    .top-small-menu ul li {
        margin-right: 5px;
    }
    .top-small-menu ol,
    .top-small-menu ul {
        padding-left: 30px;
    }
    .btn-small a {
        color: #fff;
        padding: 3px 8px;
        border-radius: 2px;
    }

    /* top section end  */

    /* nav section start  */
    .nav-section {
        padding: 5px 0;
    }

    .nav-section .logo {
        display: block;
        height: 100%;
        padding: 5px 0;
    }

    .nav-section .logo span {
        display: none;
    }

    .menu-bar {
        display: none;
    }

    .mobilemenu {
        display: block;
    }

    /* search area  */    
    .openBtn{
        margin-top: 6px;
    }
    .overlay button {
        padding: 11.6px;
        font-size: 15px;
    }
    .fa-search {
        margin-top: 10px;
    }
    /* search area  */


    .slicknav_menu .slicknav_menutxt {
        display: none;
    }

    .slicknav_menu .slicknav_icon {
        position: absolute;
        right: 10px;
        top: 2px;
    }

    .slicknav_menu {
        background: none;
        padding: 0;
    }

    .slicknav_btn {
        position: relative;
        background-color: transparent;
        margin: 0;
    }

    .slicknav_nav {
        background-color: #03263e;
        position: absolute;
        right: 0px;
        top: 100%;
        width: 100%;
    }

    .slicknav_nav p {
        padding: 10px 0 0 20px;
        text-align: left;
        margin-bottom: 8px;
    }


    .dropdown-menu-custom .dropdown-menu {
        transform: translate3d(105px, 20px, 0px) !important;
    }


    .slicknav_nav a {
        padding: 2px 0;
        margin: 0;
    }


    .search-area img {
        padding-left: 15px;
    }

    .search-area img {
        display: none;
    }

    /* banner section start */
    .banner-section {
        height: 500px;
        background-color: #0005;
        background-blend-mode: darken;
    }

    .banner-text {
        padding: 40px 0 25px 0;
        text-align: center;
    }

    .banner-text .title-extralarge {
        font-size: 30px;
        line-height: 40px;
        padding: 0 5px;
        margin-bottom: 10px;
    }

    .banner-text h6 {
        color: #ffffff;
        font-size: 14px;
        line-height: 24px;
        padding: 0;
        margin-bottom: 10px;
    }

    .banner-text h4 {
        font-size: 18px;
        line-height: 28px;
        padding: 0;
    }

    /* Apoinment and hour section start */
    .apoinment-hour-section {
        margin-top: -180px;
    }
    .apoinment-hour-section .card-lg{
        background-size: 100% 240px;
    }

    .card-lg {
        margin: 0;
        padding: 30px 20px;
    }

    .card-content {
        padding: 30px 15px 30px 15px;
    }
    .card-form input, select, textarea {
        padding: 8px 5px 8px 10px;
        border: 1px solid #dff3fd;
        font-size: 12px;
        line-height: 18px;
        font-weight: 600;
        margin-bottom: 14px;
    }
    .card-form textarea {
        height: 80px;
        margin-bottom: 0;
    }

    .card-title {
        text-align: center;
        margin-bottom: 20px;
    }
    .title-small {
        font-size: 15px;
        line-height: 20px;
    }

    .card-lg h1 {
        font-size: 22px;
        line-height: 32px;
    }

    .card-blue {
        margin-top: 60px;
    }

    .card-blue .card-title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;
    }

    .card-blue .card-title p {
        float: left;
        font-size: 26px;
        line-height: 36px;
    }

    .card-blue .card-title h1 {
        padding-left: 10px;
        float: left;
        margin-bottom: 0;

    }
    .card-form .large-btn {
        margin-top: 10px;
    }
    .card-form .large-btn a{
        font-size: 14px;
        line-height: 24px;
    }
    .date-time p{
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 0;
    }
    .card-blue .list-data ul {
        margin-bottom: 15px;
    }
    .card-blue {
        margin-top: 0;
    }


    /* Apoinment and hour section end */
    /* banner section end  */



    /* about section start  */
    .about-section {
        background-color: #073757a6;
        background-blend-mode: darken;
        padding: 40px 0;
        /* border: 1px solid rgb(138, 27, 4); */
    }

    .about-section .title {
        color: #ffffff;
        padding: 0;
        /* border: 1px solid rgb(138, 27, 4); */
    }

    .about-section .title .title-extralarge {
        color: #ffffff;
        font-size: 28px;
        line-height: 38px;
    }

    .about-section .title-medium {
        color: #ffffff;
        font-size: 14px;
        line-height: 20px;
    }

    .about-section .title p {
        color: #ffffff;
    }

    .btn-medium a {
        font-size: 10px;
    }

    /* about section end  */

    /* service section start */
    .service-section {}

    /* box for tritment  */
    .box .box-content {
        padding: 20px 0 30px 40px;
    }

    .box-title {
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 20px;
    }

    .box .box-content p {
        display: flex;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 18px;
    }

    .box .box-content .large-btn a {
        font-size: 10px;
    }

    /* box for success count  */
    .box .count {
        padding: 30px 20px;
        text-align: center;
    }

    .box .count .calender {
        margin-bottom: 10px;
    }

    .count .medium-number {
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 10px;
    }

    /* service section end */


    /* what we do section start */
    .timeline-section {
        height: 950px;
        padding: 50px 0 75px 0;
    }

    .what-we-do-section .title {
        margin-bottom: 40px;
    }

    .what-we-do-section .title-extralarge {
        font-size: 28px;
    }

    .what-we-do-section .title p {
        font-size: 14px;
    }

    .facality-skills {
        margin-top: -110px;
    }

    .accordion-faciliti .accordion-text p {
        font-size: 12px;
    }

    .accordion-faciliti-body p {
        font-size: 12px;
        text-align: justify;
    }

    .what-we-do-section .list-data .text {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .what-we-do-section .list-data p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .what-we-do-section .list-data h1 {
        font-size: 16px;
        margin-bottom: 0;
    }

    /* what we do section end */





    /* services section start  */
    /* services section end  */



    /* our patient say obout us start */
    .say-about-us .title-extralarge {
        margin-bottom: 20px;
    }

    .say-about-us .text-sulg {
        font-size: 18px;
    }

    .title-extralarge .title-medium {
        font-size: 26px;
    }

    .about-container .profile-small-img {
        margin-bottom: 10px;
    }

    .about-container p {
        text-align: justify;
        font-size: 12px;
    }

    .about-container span {
        margin-bottom: 10px;
    }




    /* our patient say obout us start */


    /* Special Offers section start */
    .special-offer {
        padding: 110px 0 10px 0;
    }

    .special-offer .title-extralarge {
        margin-bottom: 100px;
    }

    .special-offer .title-extralarge p {
        font-size: 12px;
        line-height: 22px;
        padding: 0;
        text-align: justify;
    }

    .price-card {
        position: relative;
        background-color: #033150;
    }

    .price-card .price {
        position: absolute;
        left: 50%;
        top: 0%;
        transform: translate(-50%, -50%);
        display: inline-block;
        width: 130px;
        height: 130px;
        font-weight: 500;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fd5364;
        color: #ffffff;
        font-weight: 500;
        clip-path: circle(50% at 50% 50%);
    }

    .price-card .price span {
        font-weight: 400;
        font-size: 32px;
        letter-spacing: 2px;
    }

    .price-card .price-card-title {
        background-color: #03263e;
        padding: 90px 0 50px 0;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
    }

    .price-card .price-card-title .text-sulg {
        font-size: 15px;
        margin-bottom: 0;
    }

    .price-card .price-card-title .title-extralarge {
        font-size: 22px;
        font-weight: 300;
        margin-bottom: 0;
    }

    .price-card .price-card-content p:nth-child(odd) {
        color: #ffffff;
        padding: 10px 0;
        text-align: center;
        margin-bottom: 0;
    }

    .price-card .price-card-content p:nth-child(even) {
        background-color: #03263e;
        color: #ffffff;
        padding: 10px 0;
        text-align: center;
        margin-bottom: 0;
    }

    .price-card .price-card-btn {
        padding: 60px 0;
        text-align: center;
    }

    .price-card .price-card-btn a {
        padding: 10px 20px;
        border: 1px solid #909090;
        color: #909090;
        transition: 0.2s;
    }

    .price-card .price-card-btn a:hover {
        border: 1px solid #ffffff;
        color: #ffffff;
    }

    /* Special Offers section end */

    /* our-experienced-doctors section start */

    .our-experienced-doctors {
        padding: 60px 0 15px 0;
    }

    .our-experienced-doctors .title p {
        text-align: center;
        font-size: 14px;
    }

    .our-experienced-doctors .text-title {
        font-size: 26px;
        text-align: center;
    }

    .our-experienced-doctors p {
        text-align: justify;
        font-size: 12px;
    }

    .our-experienced-doctors .large-btn {
        text-align: left;
    }

    .our-experienced-doctors .card-lg .card-content {
        background-color: #e9edf0;
        height: 90%;
    }

    .our-experienced-doctors .card-lg {
        padding: 30px 20px;
    }

    /* our-experienced-doctors section end */

    /* blog-section start  */
    .blog-bg {
        height: 500px;
    }

    .blog-section .title {
        padding: 40px 0 0 0;
    }

    .blog-section .title h4 {
        font-size: 20px;
    }

    .blog-section .title .text-title {
        font-size: 32px;
        margin-bottom: 26px;
    }

    .blog-section .title p {
        font-size: 12px;
        padding: 0 10px;
    }

    .card-area .large-btn a {
        margin: 0 0 30px 0;
    }

    /* blog-section end  */

    /* footer section start */
    .footer-content {
        padding: 80px 0 0 0;
    }

    .footer-content .footer-top img {
        width: 250px;
    }

    .footer-content .footer-top {
        padding: 0 0 40px 0;
    }

    .footer-content .footer-top p {
        text-align: center;
        font-size: 12px;
        padding: 0 7%;
    }

    .footer-section .footer-help-area {
        padding: 0 0 40px 0;
    }

    .footer-section .footer-help-area .title-extralarge {
        font-size: 32px;
    }

    .footer-section .footer-form-area {
        margin-bottom: 40px;
    }

    .location p {
        font-size: 12px;
    }

    /* footer section end */
    /* start::map section  */
    .map-section {
        height: 200px;
        }
    /* end::map section  */

    /* Base section start */
    .base-section p {
        margin-bottom: 10px;
    }

    .base-section .social-icons img {
        float: left;
    }

    /* Base section end */


    /* default page style start  */
    .default-banner-section p {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .default-banner-section .title-extralarge {
        font-size: 30px;
        line-height: 40px;
    }

    .default-banner-section .title {
        padding: 30px 0 20px 0;
    }

    /* default page style end  */

    /* ==========================================================================
   *******    START :: DEFAULT PAGES DESIGN      ************
   ========================================================================== */
    /* start::services page  */
    .page-banner-section{
        height: 130px;
    }
    
    .page-banner-section .banner-content .title-extralarge {
        font-size: 24px;
        line-height: 28px;
        padding: 40px 0 25px 0;
    }
    .banner-content .active {
        border-bottom: 2px solid #9fcfff;
        padding-bottom: 2px;
    }

    .services-card .card-content {
        padding: 20px 5px 20px;
    }

    .services-card .card-content h1 {
        padding: 0;
        font-size: 16px;
    }

    .card-content .time_and_desiges {
        font-size: 10px;
    }

    /* end::services page  */

    /* ==========================================================================
   *******    END :: DEFAULT PAGES DESIGN      ************
   ========================================================================== */



}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 576px) and (max-width: 767px) {

    body {
        background-color: rgb(26, 3, 69) !important;
    }

    .footer-content .footer-top img {
        width: auto;
    }


}

@media only screen and (max-width: 1200px) {
    .slicknav_nav .slicknav_row {
        padding: 0;
        margin: 0;
    }

    .slicknav_nav .slicknav_row:hover {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        background: #043150;
        color: #fff;
    }

    .slicknav_nav a:hover {
        background-color: transparent;
        color: inherit;
    }
}