/************IPad**************/
@media only screen and (min-width: 992px) and (max-width: 1200px) {


    body {
        background-color: rgb(3, 78, 13);
        font-size: 14px;
        line-height: 20px;
    }
    .banner-text {
        padding: 25px 0 0 0;
    }
    .banner-text {
        left: 3%;
        top: 7%;
    }
    .card-content {
        padding: 60px 30px 40px;
    }
    .about-section {
        padding: 10px 0;
    }
    .box {
        padding: 35px 20px;
    }
    .timeline-section {
        height: 1310px;
        padding: 90px 0 40px 0;
    }


    /*=============================================================
     start::default page   
     ==============================================================*/
    .about-page-section {
        padding: 40px 0;
    }
    .our-serviceses-section {
        padding: 40px 0;
    }
    .gallary-section {
        padding: 40px 0;
    }
    .address-section {
        padding: 40px 0;
    }
    /*=============================================================
     end::default page
     ==============================================================*/
    
}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    body {
        background-color: brown !important;
        font-size: 12px;
        line-height: 22px;
    }
    .top-section .content {
        font-size: 9px;
        line-height: 12px;
    }
    .menu-bar {
        display: none;
    }

    .mobilemenu {
        display: block;
    }
    /* slick nav */
    .slicknav_menu .slicknav_menutxt {
        display: none;
    }

    .slicknav_menu .slicknav_icon {
        position: absolute;
        right: 10px;
        top: 2px;
    }

    .slicknav_menu {
        background: none;
        padding: 0;
    }

    .slicknav_btn {
        position: relative;
        background-color: transparent;
        margin: 0;
    }

    .slicknav_nav {
        background-color: #03263e;
        position: absolute;
        right: 0px;
        top: 100%;
        width: 100%;
        padding: 12px 0;
    }

    .slicknav_nav p {
        padding: 10px 0 0 20px;
        text-align: left;
        margin-bottom: 8px;
    }


    .dropdown-menu-custom .dropdown-menu {
        transform: translate3d(105px, 20px, 0px) !important;
    }
    .slicknav_nav .slicknav_row {
        padding: 0;
        margin: 0;
    }
    .slicknav_nav .slicknav_row:hover {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        background: #043150;
        color: #fff;
    }

    .slicknav_nav a:hover {
        background-color: transparent;
        color: inherit;
    }

    .slicknav_nav a {
        padding: 5px 0;
        margin: 0;
    }

    /* slick nav */

    .menu-item {
        margin-top: 7px;
    }
    .nav-section .menu-item .fa-search {
        margin-top: 18px;
    }


    .main-banner-section {
        height: 750px;
    }
    .banner-text {
        left: 5%;
        top: 6%;
    }
    .banner-text .title-extralarge {
        font-size: 46px;
        line-height: 60px;
    }
    .card-lg {
        padding: 20px;
    }
    .card-content {
        padding: 45px 22px 17px;
    }
    .title-small {
        font-size: 18px;
        line-height: 25px;
    }
    .title-large {
        font-size: 26px;
        line-height: 36px;
        margin-bottom: 20px;
    }
    .card-form input, select, textarea {
        padding: 10px;
        font-size: 14px;
    }
    .apoinment-hour-section {
        margin-bottom: 445px;
    }
    .about-section {
        padding:50px 0;
        background-color: rgba(3, 18, 32, 0.333);
        background-blend-mode: darken;
        color: #fff;
    }
    .about-section .text-area {
        padding: 0;
    }
    .box {
        padding: 35px 50px;
    }
    .valuable-services .img-res {
        margin-bottom: 40px;
        width: 24px;
        height: 24px;
    }
    .title-small {
        font-size: 15px;
    }
    .timeline-section {
        height: 1248px;
        padding: 57px 0 75px 0;
    }
    .about-container .profile-small-img {
        width: 50px;
        height: 50px;
    }
    .about-container .title-medium {
        width: 80%;
    }

    .footer-section {
        font-size: 10px;
    }

    /* footer section end  */

    /* start::map section  */
    .map-section {
        height: 200px;
        }
    /* end::map section  */

    /* ==========================================================================
   *******    START :: DEFAULT PAGES DESIGN      ************
   ========================================================================== */
    /* start::services page  */
    .page-banner-section{
        height: 200px;
    }
    .page-banner-section .banner-content .title-extralarge {
        font-size: 36px;
        line-height: 36px;
        padding: 80px 0 40px 0;
    }

    .services-card .card-content {
        padding: 20px 5px 20px;
    }

    .services-card .card-content h1 {
        padding: 0;
        font-size: 16px;
    }

    .card-content .time_and_desiges {
        font-size: 10px;
    }
    .timeline-area::after {
        height: 75%;
      }

    /* end::services page  */
      /* start::blog-content*/
  .blog-content-writer .title-extralarge{
    font-size: 28px;
    line-height: 32px;
  }
  /* end::blog-content*/

    /* ==========================================================================
   *******    END :: DEFAULT PAGES DESIGN      ************
   ========================================================================== */



}

/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    body {
        /* background-color: rgb(16, 123, 100) !important; */
        font-size: 14px;
        line-height: 24px;
    }


    /* Top section start  */
    .top-section .content {
        height: fit-content;
        flex-direction: column;
        justify-content: center;
        font-size: 10px;
        padding: 5px 0;
    }
    .top-section .top-contact{
        display: none;
    }
    .btn-extra-small a {
        font-size: 8px;
        padding: 3px 6px;
        border-radius: 2px;
    }

    /* top section end  */

    /* nav section start  */
    .menu-bar{
        display: none;
    }
    .mobilemenu{
        display: block;
    }
    /* slick nav */
    .slicknav_menu .slicknav_menutxt {
        display: none;
    }

    .slicknav_menu .slicknav_icon {
        position: absolute;
        right: 10px;
        top: 2px;
    }

    .slicknav_menu {
        background: none;
        padding: 0;
    }

    .slicknav_btn {
        position: relative;
        background-color: transparent;
        margin: 0;
    }

    .slicknav_nav {
        background-color: #03263e;
        position: absolute;
        right: 0px;
        top: 100%;
        width: 100%;
        padding: 12px 0;
    }

    .slicknav_nav p {
        padding: 10px 0 0 20px;
        text-align: left;
        margin-bottom: 8px;
    }


    .dropdown-menu-custom .dropdown-menu {
        transform: translate3d(105px, 20px, 0px) !important;
    }
    .slicknav_nav .slicknav_row {
        padding: 0;
        margin: 0;
    }
    .slicknav_nav .slicknav_row:hover {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        background: #043150;
        color: #fff;
    }

    .slicknav_nav a:hover {
        background-color: transparent;
        color: inherit;
    }

    .slicknav_nav a {
        padding: 5px 0;
        margin: 0;
    }

    /* slick nav */
    .menu-item {
        margin-top: 7px;
    }
    .nav-section .menu-item .fa-search {
        margin-top: 18px;
    }

    /* Start::search bar  */
    .overlay-content {
        top: 15%;
        width: 98%;
    }
    .overlay input[type=text] {
        font-size: 17px;
        width: 70%;
    }
    .overlay button {
        width: 28%;
    }
    .overlay .closebtn {
        top: 20px;
        right: 18px;;
    }
    .overlay .closebtn:hover{
        color: #f55060;
    }
    /* Ends::search bar  */


    /* banner section start */
    .main-banner-section {
        height: 580px;
        background-color: rgba(3, 28, 51, 0.493);
        background-blend-mode: darken;
    }
    .banner-text {
        left: 3%;
        top: 6%;
    }
    .banner-text .title-extralarge {
        font-size: 36px;
        line-height: 50px;
    }
    .title-small {
        font-size: 14px;
        line-height: 25px;
    }
    .banner-text .title-large {
        font-size: 22px;
        line-height: 40px;
    }
    
    

    

    /* Apoinment and hour section start */
    .apoinment-hour-section {
        margin-bottom: 1200px;
    }
    .apoinment-cards {
        top: -120px;
    }
    .card-lg {
        padding: 0;
    }
    .card-content {
        padding: 35px 15px 15px;
    }
    .card-small {
        margin-top: 50px;
    }
    .title-large {
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 30px;
    }
    /* Apoinment and hour section end */


    /* banner section end  */



    /* about section start  */
    .about-section .text-area {
        padding: 20px 0;
    }
    .about-section {
        background-position: 66% 50%;
        padding: 20px 0;
        background-color: rgba(32, 52, 71, 0.895);
        background-blend-mode: darken;
        color: #fff;
    }
    .about-section .title-extralarge {
        color: #fff;
        font-size: 35px;
        line-height: 45px;
        margin-bottom: 15px;
    }
    .about-section .text-area .title-medium {
        color: #fff;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 20px;
    }
    .about-section .text-area p {
        margin-bottom: 20px;
    }
    
    /* about section end  */

    /* service section start */
    .box {
        min-height: 330px;
        padding: 30px 18px;
    }
    .service-section .box .box-content ul {
        margin-bottom: 65px;
    }
    .service-section .box .box-content ul li {
        padding: 15px 0;
        margin-bottom: 10px;
    }
    .service-section .box .title-large {
        margin-bottom: 5px;
    }
    /* service section end */


    /* what we do section start */
    .timeline-section {
        height: 1400px;
        padding: 41px 0 50px 0;
    }
    .what-we-do-section .text-area {
        margin-bottom: 40px;
    }
    .what-we-do-section .text-area .title-extralarge {
        font-size: 40px;
        line-height: 55px;
        margin-bottom: 20px;
    }
    .what-we-do-section .text-area .title-medium {
        font-size: 16px;
        line-height: 12px;
    }
    .timeline-area::after {
        height: 70%;
      }
    
      .timeline-content {
        padding: 0 0 20px 40px;
        margin-bottom: 20px;
        width: 100%;
      }
    
      .timeline-text {
        margin-left: 65px;
        color: #42a6e8;
      }
    
      .timeline-text h3 {
        margin-bottom: 2px;
        font-size: 14px;
      }
    
      .timeline-text h1 {
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
      }
    
      .timeline-text p {
        text-align: justify;
        font-size: 12px;
      }
    
      .t-lable {
        position: absolute;
        left: 15px;
        top: 15px;
        background-color: #f55060;
        color: #fff;
        width: 60px;
        height: 60px;
        outline: 2px solid #37607b;
        outline-offset: 0px;
        text-align: center;
        transform: rotate(45deg);
        z-index: 10;
      }
    
      .t-lable h4 {
        font-size: 32px;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 60px;
        transform: rotate(-45deg);
      }
    

    /* what we do section end */



    /* our patient say obout us start */
    .say-about-us {
        padding: 60px  0 20px 0;
    }
    
    .say-about-us .title-medium {
        font-size: 16px;
        line-height: 16px;
    }
    .say-about-us .title-extralarge {
        font-size: 36px;
        line-height: 44px;     
        margin-bottom: 20px;
    }
    .about-container .profile-small-img,
    .about-container .profile-name,
    .about-container span {
        margin-bottom: 10px;
    }
    .about-container .title-medium {
        width: 80%;
    }
    /* our patient say obout us start */


    /* Special Offers section start */
    .special-offer {
        padding: 100px 0 10px 0;
    }
    .title-extralarge {
        font-size: 42px;
        line-height: 52px;
    }
    .special-offer .text-area p {
        width: 100%;
    }
    
    /* Special Offers section end */


    /* blog-section start  */
    .blog-section .text-area {
        padding: 50px 0;
    }
    .blog-section .title-medium {
        font-size: 16px;
        line-height: 22px;
    }
    .blog-section .title-extralarge {
        font-size: 33px;
        line-height: 45px;
    }
    .blog-section .text-area p {
        padding: 0;
    }

    /* blog-section end  */

    /*Home contact  section start */
    .home-contact-section .logo-text-block img {
        width: 220px;
    }
    .home-contact-section .title-medium {
        font-size: 13px;
        line-height: 24px;
    }
    .home-contact-section .logo-text-block {
        margin-bottom: 35px;
    }
    .home-contact-section .title-extralarge {
        font-size: 35px;
        line-height: 45px;
    }
    .home-contact-section  .input-item {
        width: 95%;
    }

    /* Home contact  section end */

    /* start::map section  */
    .map-section {
        height: 200px;
        }
    /* end::map section  */

    /* Footer section start */
    .footer-section .row{
        text-align: center;
    }
    .footer-section .social-icons {
        margin-right: 25%;
    }

    /* Footer section end */

    /* ==========================================================================
   *******    START :: DEFAULT PAGES DESIGN      ************
   ========================================================================== */
   .page-banner-section {
    height: 230px;
    color: #fff;
    }
   .page-banner-section .banner-content .title-extralarge {
    color: #fff;
    padding: 70px 0 62px 0;
    }
    .page-section-p {
        padding: 50px 0;
    }
    /* contact us page  */
    .address-section ul li {
        font-size: 14px;
    }
    .address-section ul {
        margin-bottom: 30px;
    }
    .address-section .timetable ul li {
        gap: 4%;
        padding: 20px 0;
    }

    /* ==========================================================================
   *******    END :: DEFAULT PAGES DESIGN      ************
   ========================================================================== */



}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 576px) and (max-width: 767px) {

    body{
        background-color: rgb(238, 255, 0);
    }
    .banner-text {
        padding-top: 75px;
    }
    .apoinment-cards {
        top: -160px;
    }
    .card-form input, select, textarea {
        padding: 10px;
        border-radius: 2px;
        font-size: 14px;
        margin-bottom: 8px;
    }
    .card-small {
        margin-top: 0;
    }
    .card-form textarea {
        height: 80px;
    }
    .large-btn a {
        font-size: 14px
    }
    .apoinment-hour-section {
        margin-bottom: 370px;
    }
    .title-large {
        font-size: 26px;
        line-height: 22px;
        margin-bottom: 20px;
    }
    .timeline-section {
        height: 880px;
    }
    .facality-skills {
        margin-top: -120px;
    }
    .accordion-button {
        padding: 13px 0;
        font-size: 14px;
    }

}

