@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #edf2f5;
  font-size: 16px;
  line-height: 26px;
  color: #5f727f;
}

a {
  text-decoration: none;
  color: #5f727f;
}

ul li {
  list-style: none;
}

ul,ol{list-style:none;margin:0;padding:0;}
ol, ul{padding: 0; margin: 0;}

textarea:focus,
input:focus {
  outline: none;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.img-area-res{
  width: 100%;
  height: auto;
}
.fh-position-center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  padding: 0 5%;
}
.fh-d-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 5%;
}

/* Title */
.title-extralarge {
  color: #3c3950;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.title-large {
  color: #3c3950;
  font-size: 36px;
  margin-bottom: 50px;
  line-height: 46px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.title-medium {
  color: #3c3950;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.title-small {
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}

.title-extrasmall {
  font-size: 16px;
  line-height: 26px;
  color: #161616;
  font-weight: 500;
  margin-bottom: 10px;
}
.color-white{
  color: #ffffff;
}
.color-red{
  color: #fd5364;
}
.color-blue{
  color: #1585ca
}
.color-dark-blue{
  color: #054c7a;
}
.bg-color-dark-blue{
  background-color: #054c7a;
}
.bg-color-blue {
  background-color: #1585ca;
}
.bg-color-red {
  background-color: #fd5364;
}
.btn-bg-color-blue a{
  background-color: #1585ca;
}
.btn-bg-color-red a{
  background-color: #fd5364;
}


/* ==========================================================================
   Buttons
   ========================================================================== */
/* small button  */
.btn-extra-small{
  display: inline-block;
}
.btn-extra-small a{
  text-align: center;
  font-size: 10px;
  padding: 8px 15px;
  margin-bottom: 3px;
  font-weight: 700;
  background-color: #eb5353;
  color: #fff;
  border-radius: 5px;
  border: none;
  transition: 0.5s;
}
.btn-extra-small a:hover{
  background-color:#1a81c3;
}
/* btn-medium */
.btn-medium{
  display: inline-block;
  text-align: center;
}
.btn-medium a{
  display: inline-block;
  padding: 8px 10px;
  background-color:#1a81c3;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s;
}
.btn-medium a:hover{
  background-color:#fc7979;
}
/* Learge button  */
.large-btn {
  text-align: center;
  margin-bottom: 10px;
}

.large-btn a {
  text-transform: uppercase;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  transition: all 0.4s;
}

.large-btn a:hover {
  background-color: #1a81c3;
}




/* ==========================================================================
   PAGE BUILDING
   ========================================================================== */

    /* Top section start  */
    .top-section {
      color: #99a9b5;
    }
  
    .top-section .content {
      height: 34px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 13px;
      line-height: 15px;
    }
  
    .top-section .content .top-contact span {
      padding-right: 15px;
    }
  
    .top-section .social-icon a {
      padding: 0 5px;
    }
  
    .top-section a:hover {
      color: #fff;
    }
  
    .top-small-menu ul li {
      float: left;
    }
  
    .top-small-menu a {
      margin-left: 10px;
    }
  
    /* top section end  */
    /* Nav section start  */
.nav-section{
  position: sticky;
  top: 0;
  z-index: 500;
}
.nav-section .logo{
  padding: 15px 0;
}
.mobilemenu{
  display: none;
}
.menu-bar-mobile{
  display: none;
}
.menu-item{
  display: flex;
  align-items: center;
  justify-content: end;
}
.menu-bar ul{
  display: flex;
}
.menu-bar ul li{
  float: left;
  padding: 25px 10px;
  position: relative;
}

.menu-bar ul li a{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  color: #d3d3d3;
  transition: all 0.3s;
}
.menu-bar ul li a:hover{
  outline-offset:3px;
  outline: 1px solid rgb(255, 255, 255);
}

.fa-search {
  color: #d3d3d3;
  float: right;
  margin-top: 8px;
  padding: 0 5px;
}
 /* dropdown menu style */
 .dropdown-menu-main {
  display: none;
}

.menu-bar ul li:hover .dropdown-menu-main {
  /* .dropdown-menu-main { */
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #0d4468;
}
.menu-bar .dropdown-menu-main ul li a:hover{
  outline: none;
}

.dropdown-menu-main ul {
  display: block;
}

.dropdown-menu-main ul li {
  display: block;
  width: 150px;
  padding: 10px;
}
.dropdown-menu-main ul li:hover{
  background-color: #1a5176;
}
.dropdown-menu-sub {
  display: none;
}

.dropdown-menu-main ul li:hover .dropdown-menu-sub {
  /* .dropdown-menu-sub { */
  display: block;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #0d4468;

}

.search-area{
  position: relative;
}

.openBtn {
  background: transparent;
  border: none;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
}

.openBtn i:hover {
  color: #2f9ee8;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
  position: relative;
  top: 20%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #fc7979;
}

.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.overlay button:hover {
  background: #033150;
  color: #fff;
  font-weight: 700;
}







   /* ---------------
   BEGINNING -- + -- INDEX PAGE 
   --------------- */

/* heading section  */
.heading-section{
  /* border: 1px solid blue; */
}

/* ==========================================================================
   Main Banner section 
   ========================================================================== */
.main-banner-section{
  height:950px;
  width: 100%;
}
.banner-text{
  padding-top: 100px;
  color: #fff;
}
.banner-text .title-extralarge{
  font-size: 80px;
  line-height: 110px;
}
.banner-text .title-large{
  line-height: 50px;
  word-spacing: 3%;
  margin-bottom: 20px;
}
.banner-text .title-small{
  margin-bottom: 25px;
  font-weight: 200;
}
.banner-text .title-extralarge,
.banner-text .title-large,
.banner-text .title-small{
  color: #fff;
}
/* banner section end  */

/* Apoinment and hour section start */
.apoinment-hour-section{
  position: relative;
  margin-bottom: 580px;
}
.apoinment-cards{
  width: 100%;
  position: absolute;
  left: 50%;
  top: -320px;
  transform: translate(-50%,0);
}
.card-lg{
  padding: 40px;
  margin-bottom: 10px;
}
.card-content{
  background-color: #ffffff;
  padding: 50px 20px 40px;
}
.card-form input,select,textarea{
  background-color: #f5f7f6;
  width: 100%;
  padding: 15px;
  border: 1px solid #dfe5e8;
  border-radius: 5px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
select:has(option:disabled:checked[hidden]) {
  color: gray;
}
.apoinment-hour-section .card-content .large-btn a{
  display: block;
}

/* card blue style start */
.card-small{
  margin-top: 260px;
}
.card-small .large-btn a:hover{
  background-color: #eb5353;
}
.card-small .list-data ul{
    margin-bottom: 20px;
}
.list-data ul li{
  border-bottom: 1px solid #d5dade;
  padding: 10px 0;
}
.list-data ul li span{
  float: right;
}
/* card blue style start */

/* Apoinment and hour section end */



/* about section start  */
.about-section{
  padding:160px 0;
}
.about-section .text-area{
  padding: 50px;
}
.about-section .text-area .title-medium{
  font-weight: 300;
  margin-bottom: 30px;
}
.about-section .text-area p{
  margin-bottom: 50px;
  /* width: 50%; */
}
 
/* about section end  */

/* service section start */
.service-section{
}
.box{
  padding: 70px 50px;
  position: relative;
}

/* box for tritment  */

.service-section .box .title-large{
  margin-bottom: 30px;
}
.service-section .box .box-content ul {
  margin-bottom: 100px;
}
.service-section .box .box-content ul li{
  display: block;
  padding: 10px 0;
  margin-bottom: 15px;
  color: #5f727f;
}
.service-section .box .box-content i{
  display: block;
  float: left;
  width: 7%;
  color: #eb5353;
  padding-top: 6px;
}
.service-section .box .box-content span{
  display: block;
  float: left;
  width: 90%;
}
.service-section .box .box-content .large-btn{
  display: inline-block;
}
/* box for success count  */
.service-section .box .count{
  text-align: center;
}
.service-section .box .count .circle{
  margin: 0 auto;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.service-section .count .title-extralarge{
  font-size: 80px;
  line-height: 90px;
}
.service-section .count .title-medium{
  text-transform:none;
}

.service-section .box .icon-blue i{
  color: #1a81c3;
}
.service-section .box .box-content .btn-bg-color-red a:hover{
  background-color: #1a81c3;
}

.service-section .box .box-content .btn-bg-color-blue a:hover{
  background-color: #fc7979;
}


.services-small-box{
  position: relative;
}

.valuable-services{
  padding: 50px 20px;
  color: #ffffff;
  position: relative;
}
.valuable-services .img-res{
  margin:  0 auto;
  margin-bottom: 20px;
  width: 42px;
  height: 42px;
}
.box-btn a{
  display: inline-block;
  padding: 5px 25px;
  border: 2px solid rgb(255, 255, 255);
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700px;
  color: #ffffff;
  transition: 0.4s;
}

.box-btn a:hover, 
.box-btn a:focus {
  border: 2px solid #fc8d8d;
}

/* @keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
} */
.valuable-services::after{
  content: "";
  height: 20px;
  width: 20px;
  background-color: #eb5353;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(0);
  clip-path: polygon(100% 5%, 0 100%, 100% 100%);
}
/* service section end */


/* what we do section start */
.what-we-do-section {
  width: 100%;
}
.timeline-section{
  width: 100%;
  height: 1500px;
  padding: 170px 0 75px 0;
}
.what-we-do-section .text-area{
  margin-bottom: 100px;
}
.what-we-do-section .title-extralarge{
  color: #fff;
}
.what-we-do-section .text-area .title-medium{
  color: #ffffff;
  font-weight: 200;
}


/* Time line css style start */
.timeline-area {
  position: relative;
}

.timeline-content {
  text-transform: uppercase;
  padding: 0 40px 20px 40px;
  margin-bottom: 20px;
  position: relative;
  background-color: inherit;
  width: 60%;
}

.timeline-text {
  margin-left: 70px;
  color: #42a6e8;
}

.timeline-text h3 {
  margin-bottom: 2px;
  font-size: 20px;
}

.timeline-text h1 {
  font-size: 28px;
}

.timeline-text p {
  text-transform: capitalize;
  color: #bfd0db;
}

.t-lable {
  position: absolute;
  left: 15px;
  top: 15px;
  background-color: #f55060;
  color: #fff;
  width: 60px;
  height: 60px;
  outline: 2px solid #37607b;
  outline-offset: 0px;
  text-align: center;
  transform: rotate(45deg);
  z-index: 10;
}

.t-lable h4 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 60px;
  transform: rotate(-45deg);
}

.timeline-area::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 44px;
  width: 2px;
  height: 80%;
  background-color: #37607b;
  z-index: 4;
}

/* Time line css style end */


/* start::facality-skills  */
.facality-skills{
  margin-top: -320px;
}
.what-we-do-section .list-data .skills-title{
    margin-bottom: 10px;
}
.what-we-do-section .list-data li{
  border: none;
}
.what-we-do-section .list-data .progress{
  border-radius: 0;
}




/* Accordian styel start  */

.accordion-item {
  padding-bottom: 12px;
  border: none;
}
.accordion-button{
  color: #3c3950;
  padding-left: 0;
  border-bottom: 1px solid gray;
  font-size: 18px;
  font-weight: 700;
}
.accordion-body{
  color: #5f727f;
  padding-left: 0;
}
.accordion-button:not(.collapsed) {
  color: #f4616f;
  background-color: #fff;
  border-radius: 0;
}



/* what we do section end */

 

/* our patient say obout us start */
.say-about-us{
  padding: 60px 0;
}
.say-about-us .title-extralarge{
  margin-bottom: 40px;
}


.about-container{
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.about-container .profile-small-img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.about-container .title-medium{
  text-transform: none;
  width: 60%;
  text-align: center;
}
.about-container .profile-name{
  font-size: 16px;
  color: #1a81c3;
  text-transform: uppercase;
  font-weight: 700;
}
.about-container span{
  color: #99a9b5;
  font-size: 14px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-container .cotation-img{
  width: 38px;
  height: 28px;
}

/*  to hide dots */
.owl-theme .owl-dots .owl-dot{ display:none;}


.owl-carousel {
  position: relative;
}
.owl-carousel .owl-next,
.owl-carousel .owl-prev {
  width: 40px;
  height: 40px;
	line-height: 40px;
	border-radius: 1% !important;
  margin: 0 !important;
  position: absolute;
  top: 50%;
  transform: translate(0%,-50%);
	font-size: 20px;
  opacity: 1;
	border: 1px solid #ddd;
  background-color: #033150;
	text-align: center;
  transition: all 0.1s ease-in-out;
}
.owl-carousel .owl-prev {
  left: 0;
}
.owl-carousel .owl-next {
  right: 0;
}
.owl-theme .owl-nav span{
  color: #fff;
  font-size: 32px;
  line-height: 32px;
}

.owl-carousel .owl-nav button.owl-next {
  background-color: #033150 !important;
  color: #fff;
  font-size: 16px;
}
.owl-carousel .owl-nav button.owl-prev{
  background-color: #033150 !important;
  color: #fff;
  font-size: 16px;
}
.owl-theme .owl-nav [class*=owl-]:hover{
  background-color: #f55060 !important;
}


/* Special Offers section start */
.special-offer {
  padding: 200px 0;
}
.special-offer .text-area{
  margin-bottom: 150px;
}
.special-offer .text-area .title-extralarge{
  color: #ffffff;
  margin-bottom: 20px;
}
.special-offer .text-area .title-medium{
  color: #ffffff;
  font-weight: 200;
}
.special-offer .text-area p{
  color: #fff;
  width: 70%;
  text-align: center;
  margin:  0 auto;
}

.price-card{
  position: relative;
  background-color: #033150;
}
.price-card .price{
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%,-50%);
  display: inline-block;
  width: 130px;
  height: 130px;
  font-weight: 500;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fd5364;
  color: #ffffff;
  font-weight: 500;
  clip-path: circle(50% at 50% 50%);
}
.price-card .price span{
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 2px;
}
.price-card .price-card-title{
  background-color: #03263e;
  padding: 90px 0 50px 0;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.price-card .price-card-title .text-sulg{
  font-size: 15px;
  margin-bottom: 10px;
}
.price-card .price-card-title .price-card-title-lg{
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 0;
}
.price-card .price-card-content li:nth-child(odd){
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 0;
}
.price-card .price-card-content li:nth-child(even){
  background-color: #03263e;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 0;
}

.price-card .price-card-btn{
  padding: 60px 0;
  text-align: center;
}
.price-card .price-card-btn a{
  padding: 10px 20px;
  border: 1px solid #909090;
  color: #909090;
  transition: 0.2s;
}
.price-card .price-card-btn a:hover{
  border: 1px solid #ffffff;
  color: #ffffff;
}

/* end::our special offer  */

/* our-experienced-doctors section start */

.our-experienced-doctors{
  padding: 115px 0;
}
.team-person{
  cursor: pointer;
  transition: all 0.7s;
}
.team-person:hover{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
/* .our-experienced-doctors .img-res img{
  width: 100%;
} */
.our-experienced-doctors .text-area .title-extrasmall{
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 20px;
}
.our-experienced-doctors .team-person .card-lg {
  padding: 40px 40px;
}

.our-experienced-doctors p{
  text-align: justify;
  margin-bottom: 45px;
}
.our-experienced-doctors .large-btn{
  text-align: left;
}
.our-experienced-doctors .large-btn a:hover{
  background-color: #fd5364;
}
.doc-info{
  padding: 20px 0 10px 0;
  text-align: center;
}
.doc-info .title-medium{
  font-weight: 500;
  text-transform: none;
}
.doc-info span{
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}
.doc-info .title-small{
  color: #3892e7;
}

/* our-experienced-doctors section end */

/* gallary section  */
.img-gallary{
  margin: 0;
  padding: 0;
}
.img-gallary .owl-theme .owl-nav{
  margin-top: 0;
}
.galary-img{
  height: 250px;
}

/* blog-section start  */
.blog-section{
  padding:0 0 50px  0;
}
.blog-bg{
  height: 600px;
}

.blog-section .text-area{
  text-transform: uppercase;
  padding: 90px 0;
}
.blog-section .text-area .title-medium{
  color: #fff;
}
.blog-section .text-area .title-extralarge{
  color: #fff;
  margin-bottom: 20px;
}
.blog-section .text-area p{
color: #fff;
text-transform: capitalize;
padding: 0 15%;
}

/* card-area  */
.card-area{
  margin-top: -220px;
}
.blog-card{
  margin-bottom: 1.5rem;
  background-color: #fff;
}
.blog-card .card-img img{
  width: 100%;
}
.blog-card .card-top{
  padding: 25px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #99a9b5;
}
.blog-card .card-top a{
  color: #3892e7;
}
.blog-card .count:last-child{
  color: red;
}
.blog-card .card-text{
  padding: 0 30px 0px;
}
.blog-card .card-text .title-medium{
  color: #3c3950;
}

.blog-card .card-text .title-medium span{
  font-weight: 900;
  letter-spacing: 2px;
}
.blog-card .blog-btn{
  display: block;
  text-align: center;
  padding-bottom: 30px;
}
.blog-card .blog-btn a{
  display: inline-block;
  padding: 10px 40px;
  background-color: #fd5364;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  transition: all 0.3s;
}
.blog-card .blog-btn a:hover{
  background-color: #076bae;
}
.blog-section .btn-bg-color-blue a:hover{
  background-color: #fd5364;
}

/* contact section  */
.home-contact-section {
  padding: 150px 0 80px 0;
  text-align: center;
}

.home-contact-section .logo-text-block img {
  margin-bottom: 20px;
}

.home-contact-section .logo-text-block {
    margin-bottom: 70px;
}

.home-contact-section .text-block p {
  text-transform: uppercase;
  color: #ffffff;
}

.home-contact-section .title-extralarge a {
  color: #1585ca;
}

.contact-default {
  padding: 40px 0;
}

.input-item-wrap {
  margin-left: -3.33%;
  overflow: hidden;
  margin-bottom: 15px;
}

.input-item {
  float: left;
  margin-bottom: 15px;
  margin-left: 3.33%;
  width: 30%;
  position: relative;
}

.input-item input {
  width: 100%;
  padding: 10px 40px 10px 20px;
  background-color: #00243d;
  color: #bfd0db;
  border: 0;
}

.input-item img {
  position: absolute;
  right: 10px;
  top: 14px;
  max-width: 20px;
  max-height: 16px;
}

.Message-area textarea {
  background-color: #00243d;
  color: #bfd0db;
  border: 0;
  font-weight: 500;
}

.text-block img {
  margin-bottom: 20px;
}

.text-block span {
  color: #1585ca;
}
.home-contact-section .large-btn a:hover{
  background-color: #fd5364;
}

/* map section 
   */

.map-section {
  height: 340px;
}

/* footer section start */

.footer-section {
  background-color: #00243d;
  color: #8fa0ad;
  padding: 30px 0 10px;
  font-size: 13px;
}

.footer-section ul {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  text-align: center;
  justify-content: center;
}

.footer-section a {
  color: #8a98a1;
}
.footer-section p {
	margin-top: 0;
	margin-bottom: 0;
}
.footer-section a:hover{
  color: #fff;
}

.footer-section .social-icons a{
  display: block;
  float: right;
  padding: 0 5px;
  margin-bottom: 1rem;
}





/* ==========================================================================
    *******    END :: INDEX PAGE DESIGN      ************
   ========================================================================== */







/* ==========================================================================
   *******    START :: DEFAULT PAGEs DESIGN      ************
   ========================================================================== */



   /* ==========================================================================
   sample page classes
   ========================================================================== */
   .sample-page .textarea h1,
   .sample-page .textarea h2, 
   .sample-page .textarea h3,
   .sample-page .textarea h4,
   .sample-page .textarea h5,
   .sample-page .textarea h6{
    color: #00243d;
   }
   .sample-page .textarea h1{
    font-size: 36px;
    line-height:46px;
   }
   .sample-page .textarea h2{
    font-size: 32px;
    line-height: 40px;
   }
   .sample-page .textarea h3{
    font-size: 24px;
    line-height: 32px;
   }
   .sample-page .textarea h4{
    font-size: 20px;
    line-height: 30px;
   }
   .sample-page .textarea h5{
    font-size: 18px;
    line-height: 28px;
   }
   .sample-page .textarea h6{
    font-size: 16px;
    line-height: 26px;
   }

   .sample-page .textarea img{
    max-width: 100%;
    height: auto;
    margin:0 10px 15px 0;
   }


/* ==========================================================================
   END::default page bannarer section classes
   ========================================================================== */
   .page-banner-section {
    height: 320px;
    color: #fff;
  }
  
  .page-banner-section .banner-content .title-extralarge {
    color: #fff;
    padding: 130px 0 85px 0;
  }
  
  .page-banner-section .banner-content ul {
    margin-left: -20px;
    overflow: hidden;
    margin-bottom: 0;
  
  }
  
  .page-banner-section .banner-content ul li {
    float: left;
    margin-left: 20px;
  }
  
  .page-banner-section .banner-content a {
    font-weight: 600;
    color: #edf2f5;
    text-transform: capitalize;
  }
  
  .page-banner-section .banner-content ul i {
    padding: 0 0 0 10px;
  }
  
  .banner-content .active {
    border-bottom: 2px solid #9fcfff;
    padding-bottom: 8px;
  }
  
  .banner-content .active a {
    color: #9fcfff;
  }
  
  
  /* for every page bannarer section style end  */


.page-section-p{
  padding: 120px 0;
}

/* About page classes  */
.about-page-section .text-area .title-small{
  color: #03263e;
}
.about-page-section .img-area{
  width: 100%;
  height: auto;
}


  .galary-img{
    overflow: hidden;
    border-radius: 4px;
    width: 100%;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background-color: #ffffff;
    position: relative;
  }
  .videos-gallery{
  height: 300px;
  }
  .gallery-overlay{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 0, 0, 0.226);
  opacity: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:all 0.6s ease-in-out;
  }
  .gallery-overlay:hover {
  opacity: 1;
  }
  .gallery-overlay i{
  font-size: 42px;
  color: #ffcfcf;
  }
  .gallery-overlay .fa-youtube{
  color: #f00;
  }
  /* end::photo & video gallery page classes  */

  /* start::team page classes */
  /* .team-section{
    padding: 40px 0 0;
  } */
  .team-section .team-person{
    background-color: #fff;
    padding: 30px 0;
    margin-bottom: 1.5rem;
  }
  .team-section .team-person .card-lg{
    margin:  0 auto;
    padding: 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
  }
  .team-section .team-person .card-lg img{
    width: 100%;
    height: auto;
  }
  .team-section .team-person:hover{
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; */
  }
  /* end::team page classes  */
  /* start::contact us classes  */
  .address-section {
    padding-bottom: 0;
  }
  .address-section ul{
    
  }
  .address-section ul li{
    padding: 0  0 20px 0;
    font-size: 16px;
  }
  .address-section ul li i{
    color: #eb5353;
  }
  .address-section ul li span{
    margin-left: 10px;
  }
  .address-section ul li a{
    color: #0397f9;
  }
  .address-section .timetable ul li{
    display: flex;
    align-items: center;
    gap: 25%;
    padding: 15px 10px;
  }
  .address-section .timetable ul li:nth-child(odd){
    background-color: #f1edf8;
  }
  .address-section .timetable ul li:nth-child(even){
    background-color: #f9f6fc;
  }

  /* end::contact classes  */

  /* Statr::blog-content */
  .blog-content-writer p a{
    color: #0397f9;
  }
  .blog-content-writer .title-extralarge{
    font-size: 42px;
    line-height: 52px;

  }

  .comment-like{
    background-color: #dbeffcb5;
    border-radius: 10px;
    padding: 20px 10px;
    border-top: 1px solid #b3cddfb5;
    border-bottom: 1px solid #b3cddfb5;
  }
/* end::blog-content */


  /* ==========================================================================
   *******    END :: DEFAULT PAGES DESIGN      ************
   ========================================================================== */

   